<!-- https://bootsnipp.com/snippets/AXVrV -->
{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
    <h4>New HTTP Reception Definition</h4>
    {{!-- <div style="margin-top:15px"></div> --}}
    <form action="/receptions/{{receptionId}}" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Request URL</span>
            </div>
            <input class="form-control" value="{{url}}" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <label for="details">Name</label>
            <input name="name" class="form-control" placeholder="Short name to identify the reception easily" value=""
                aria-describedby="basic-addon-name">
        </div>
        <div class="form-group">
            <label for="details">Response Status</label>
            <input name="status" class="form-control" value="200" aria-describedby="basic-addon-name">
        </div>
        <div class="form-group">
            <label for="details">Reason Phrase</label>
            <input name="reasonPhrase" placeholder="Reason phrase" class="form-control" value="" aria-describedby="basic-addon-name">
        </div>
        <div class="form-group">
            <div class="card">
                <div class="card-body" id="dynamicHeaderContainer">
                    <h6 class="card-title">Response Headers</h6>

                    <div class="d-flex flex-row form-group ">
                        <input type="text" placeholder="HTTP Header Name" name="header[]" class="form-control" value="">
                        &nbsp;
                        <input type="text" placeholder="HTTP Header Value" name="headerVal[]" class="form-control"
                            value="">
                        <button class="btn btn-success" type="button" onclick="addHeaderFields();"> <span class="fas fa-plus"
                                aria-hidden="true"></span> </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="card card-body mb-3">
            <div class="form-group">
                <label for="responseBody">Response Body</label>
                <textarea type="text" class="form-control" name="responseBody">{{responseBody}}</textarea>
            </div>

            <div class="form-group">
                <label for="responsePayloadFile">Binary Response</label>
                <input type="file" class="form-control-file" name="responsePayload" id="responsePayloadFile" />
            </div>
        </div>
        <!--Set of badges to indicate supported methods-->
        <div class="input-group">
            <small class="text-secondary">
                Supported Methods
                <span class="badge badge-info">GET</span>
                <span class="badge badge-success">POST</span>
                <span class="badge badge-warning">PUT</span>
                <span class="badge badge-danger">DELETE</span>
            </small>
        </div>
        <!-- end of set of badges -->

        <button type="submit" class="btn btn-primary">
            <span class="fas fa-save" aria-hidden="true"></span> Update</button>
        
        <a href="/receptions/{{receptionId}}/delete" class="btn btn-danger" style="margin:5px;" data-toggle="confirmation"
            data-title="Are you sure?">
            <span class="fas fa-trash" aria-hidden="true"></span> Delete
        </a>

    </form>

</div>

<div style="margin-top:15px"></div>
<div class="card card-body">
    {{> _sample_requests }}
</div>

<script type="text/javascript">
    var room = 1;

    function addHeaderFields() {
        room++;
        var objTo = document.getElementById('dynamicHeaderContainer');
        var divtest = document.createElement("div");
        divtest.setAttribute("class", "form-group removeclass" + room);
        divtest.innerHTML = ' <div class="d-flex flex-row "> <input type="text" placeholder="HTTP Header Name" name="header[]" class="form-control" value="">&nbsp;<input type="text" placeholder="HTTP Header Value" name="headerVal[]" class="form-control" value=""> <button class="btn btn-danger" type="button" onclick="removeHeaderFields(' + room + ');"> <span class="fas fa-minus" aria-hidden="true"></span> </button> </div>';
        objTo.appendChild(divtest);
    }

    function removeHeaderFields(rid) {
        $('.removeclass' + rid).remove();
    }
</script>