<div class="jumbotron text-center">
    <h1 class="display-5">HTTP/S Receptions</h1>
    <p class="lead">Description goes here...</p>
    <a href="/receptions/add/new" class="btn btn-success btn-lg">Create a Reception</a>

    <a class="btn btn-secondary dropdown-toggle btn-lg" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Reception
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each httpReceptions}}
        <a class="dropdown-item" href="/receptions/{{_id}}">{{_id}} [{{name}}] <small>{{date}}</small></a>
        {{/each}}
    </div>

</div>

<!--Indicating selected reception here-->
{{#if indexView}}
{{else}}
<div class="card card-body mb-3">
    <p>Selected reception</p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">URL</span>
        </div>
        <input type="text" class="form-control" aria-describedby="basic-addon1" value = {{receptionUrl}} >
        <a href="/receptions/{{selectedReceptionId}}/delete" class="btn btn-danger"
         data-toggle="confirmation" data-title="Are you sure?">
         <span class="fas fa-trash" aria-hidden="true"></span> Delete</a>
    </div>
</div>
{{/if}}
<!--End of indicating selected reception -->

{{#each httpDumps}}
{{!--
<hr /> --}}
<div class="card mb-3">
    <div class="card-header container">
        <div class="row">
            <div class="col-sm-6">
                <h4><span class="badge badge-secondary">{{method}}</span> ({{protocol}}) </h4>
            </div>
            <div class="col-sm-6">
                <p class="text-right"><small>{{body.length}} bytes</small></p>
            </div>
        </div>
        <p><small>From : {{ip}}</small></p>
        <p class="text-left text-secondary"><small>{{date}}</small></p>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>HTTP Request Header</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {{#each headers}}
                <tr>
                    <td><small><mark>{{key}}</mark></small></td>
                    <td><small>{{value}}</small></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{#if body.length}}
    <div class="card-body">
        <div class="d-inline-flex p-2">
            <p class="h6 card-title">Request payload size : {{body.length}} bytes</p>
        </div>
        <div class="d-inline-flex p-2">
            <a href="/receptions/add" class="btn btn-primary">
            <span class="fas fa-download" aria-hidden="true"></span> Download</a>
        </div>
    </div>
    {{/if}}

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>HTTP Response Header</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {{#each responseHeaders}}
                <tr>
                    <td><small><mark>{{key}}</mark></small></td>
                    <td><small>{{value}}</small></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="card-body">
        <div class="d-inline-flex p-2">
            <p class="h6 card-title">Response payload size : {{responseBody.length}} bytes</p>
        </div>
        <div class="d-inline-flex p-2">
            <a href="/receptions/add" class="btn btn-primary">
            <span class="fas fa-download" aria-hidden="true"></span> Download</a>
        </div>
    </div>
    <hr />
    <div class="d-inline-flex p-1">
        <a href="/receptions/dump/{{_id}}/delete" class="btn btn-danger" style="margin:5px;" data-toggle="confirmation" data-title="Are you sure?">
        <span class="fas fa-trash" aria-hidden="true"></span> Delete</a>
        <a href="/receptions/save" class="btn btn-info" style="margin:5px;">
        <span class="fas fa-save" aria-hidden="true"></span> Save</a>
    </div>
</div>
{{else}}
<p>No Data!</p>
{{/each}}